.home {
    height: 70vh;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.245)), url('\pictures/dev2.jpg');
    font-family: "Raleway";

    // /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}