<div class="pt-5 pb-5" id="about">
    <div class="container">
        <div class="row">
            <h1 class="pb-5 text-center">À Propos</h1>
            <div>
                <img src="/pictures/kowalinski5.jpg" alt="William_Kowalinski"
                    class="rounded-circle float-start me-4 pb-3 pt-3" width="110px">
                <p class=" ms-4 h5">Suite à différentes expériences dans la comptabilité ou la préparation de commande,
                    qui ont développé en moi des
                    qualités d'adaptation et d'analyse, j'ai découvert l'île de la Réunion et d'autres pays à travers
                    des voyages où j'y ai accru mon ouverture
                    d'esprit, mon optimisme mais également appris le partage.<br>J'ai découvert le développement web en
                    autodidacte puis j'ai approfondi à travers
                    des formations certifiantes sur des technologies plutot front avant de devenir fullstack sur du C#
                    .Net / Angular. Aujourd'hui, j'aspire à me
                    me perfectionner sur ses technologies afin de rendre les applications les plus performantes possible
                    pour une meilleur expérience utilisateur.
                </p>
            </div>
        </div>
    </div>
</div>