<div class="pt-5 pb-5" id="about">
    <div class="container">
        <div class="row">
            <!-- <div class="offset-md-1 col-md-10 about-p">
                <div class="container-fluid"> -->
                    <h1 class="pb-5 text-center">À Propos</h1>
                <!-- </div> -->
                <div>
                    <img src="/pictures/kowalinski5.jpg" alt="William_Kowalinski"
                        class="rounded-circle float-start me-4 pb-3 pt-3" width="110px">
                    <p class=" ms-4 h5">Suite à différentes expériences dans la comptabilité ou la préparation de commande, qui ont développé en moi des 
                    qualités d'adaptation et d'analyse, j'ai découvert l'île de la Réunion et d'autres pays à travers des voyages où j'y ai accru mon ouverture 
                    d'esprit, mon optimisme mais également appris le partage.<br>Je me suis lancé dans le développement web à travers une formation chez Simplon 
                    où j'y ai assimilé des technologies plutôt Front-end avec Html, Css, Bootstrapp et Javascript, mais surtout à apprendre en toute autonomie. 
                    Ainsi, je continue à me former en autodidacte, sur Javascipt, en suivant des formations en ligne et en réalisant différents projets de formation. 
                    Aujourd'hui, je souhaite approfondir ce dernier en étudiant ses frameworks comme React, Angular et Vue, mais également Node pour la partie 
                    Back-end. Je reste également attentif à Java et Python qui sont très intéressants et ont une grande communauté.
                    </p>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>