<div class="contact pt-5 pb-5" [formGroup]="form">
    <h1 class="text-center pb-5">Contactez-moi</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form action="javascript:void(0)" (submit)="send()">
                <div class="row">
                    <div class="col-md-6">
                        <input formControlName="form_name" type="text" class="form-control" id="name" name="name"
                            placeholder="Name*" required>
                    </div>
                    <div class="col-md-6">
                        <input formControlName="form_email" type="email" class="form-control" id="email" name="email"
                            placeholder="Email*" required>
                    </div>
                </div>
                <div>
                    <input formControlName="form_subject" type="text" class="form-control" id="subject" name="subject"
                        placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea formControlName="form_message" class="form-control" id="message" name="message"
                        placeholder="Message*" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-dark">SEND</button>
            </form>
        </div>
        <div class="col-md-4">
            <p>07 69 61 35 41</p>
            <p>william.kowalinskilaposte.net</p>
            <p>Lyon</p>

        </div>
    </div>
</div>