<div class="container pt-5 pb-5">
    <h1 class="text-center pb-5">Formation</h1>
    <div class="row">
        <div class="main-timeline">
            <span class="start-square"></span>
            @for (formation of formations; track formation.title; let idx = $index) {
            @if (idx % 2 ==0){

            <app-formation class="pair" [formation]="formation"></app-formation>
            } @else {
            <app-formation class="odd" [formation]="formation"></app-formation>
            }
            }
            <span class="end-square"></span>
        </div>
    </div>