//barre du milieu
.main-timeline {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}
//barre du milieu
.main-timeline:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #cfcdcd;
    position: absolute;
    top: 0;
    left: 50%;
}

// .odd{
//     float: right;
// }

// .odd .timeline-icon{
//     background-color: red;
//     right: 0;
//     left: -12px;
// }