//barre du milieu
.main-timeline {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}

//barre du milieu
.main-timeline:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #cfcdcd;
    position: absolute;
    top: 0;
    left: 50%;
}

.odd {
    display: flex;
    justify-content: end;
}

.start-square {
    width: 11px;
    height: 11px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #cfcdcd;
   box-sizing: content-box;
   border: 5px solid #fff;
   box-shadow: 0 0 0 2px #cfcdcd;
   transform: rotate(45deg);

 }
//     border: 1px solid #cfcdcd;
//     background: #cfcdcd;
//    box-sizing: content-box;
//    border: 5px solid #fff;
//    box-shadow: 0 0 0 2px #cfcdcd;
//     z-index: 1;
//     transform: rotate(45deg);