<!-- <div class="container pt-5 pb-5" id="timeline">
    <h1 class="text-center pb-5">Formation</h1>
    <div class="row">
        <div class="main-timeline">
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">Mars 2019 à aujourd'hui,
                        En autodidacte, Lyon</span>
                    <h5 class="title">Formations Udemy (by John Taieb) :</h5>
                    <ul class="description"></ul>
                    <li>Développement moderne Javascript et ES6, ES7.</li>
                    <li>Vraiment bien comprendre Javascript.</li>
                    <li>Formation complète développeur web.</li>
                    <br>
                    <h5 class="title">Formations OpenclassRooms :</h5>
                    <ul class="description"></ul>
                    <li>Apprenez à programmer avec Javascript.</li>
                    <li>Gérer votre code avec Git et Github.</li>
                    <li>Débutez la programmation avec Java</li>
                    <li>Développez des applications web avec Angular</li>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">Janvier 2019 à mars 2019,
                        Simplon Réunion, Ile de la Réunion</span>
                    <h5 class="title">Certification Coder et déployer des applications web simple</h5>
                    <p class="description">
                        Formation développeur web : HTML, CSS, Bootstrap, Javascript, Jquery, PHP, phpMyAdmin,
                        Laravel, Méthode Agile
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">Février 2019, Opquast, Ile de la Réunion</span>
                    <h5 class="title">Certification Opquast</h5>
                    <p class="description">
                        Connaissance des fondamentaux des bonnes pratiques qualité Web et des termes du Web. Capacités
                        suffisantes pour comprendre les autres
                        professionnels du Web.
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">Août 2018 à décembre 2018,
                        En autodidacte, Ile de la Réunion</span>
                    <h5 class="title">Formation Développeur Web</h5>
                    <p class="description">
                        Apprentissage du HTML / CSS sur les sites <br>Pierre-Giraud.com, Udemy et
                        OpenClassRoom.
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">2014 à 2016, ESPE - École
                        supérieure du professorat et de l'éducation, Ile de la Réunion</span>
                    <h5 class="title">CRPE</h5>
                    <p class="description">
                        Préparation au concours de recrutement de professeur des écoles
                    </p>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">2002 à 2004, Lycée
                        Philibert Delorme, L’Isle-d’Abeau, France</span>
                    <h5 class="title">BTS assistant de gestion PME-PMI</h5>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <span class="date">1999 à 2002, Lycée
                        Philibert Delorme, L’Isle-d’Abeau, France</span>
                    <h5 class="title">BAC STT comptabilité-Gestion</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container pt-5 pb-5" id="timeline">
    <h1 class="text-center pb-5">Formation</h1>
    <div class="row">
        <div class="main-timeline">
            @for (formation of formations; track formation.title) {
            <app-formation [formation]="formation"></app-formation>
            }
        </div>
    </div>
</div>