.image {
    position: relative;
    width: 350px;
    background: #061727;
    margin: auto;
}

img {
    width: 350px;
}

.portfolio-description {
    position: absolute;
    color: white;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    width: 350px;
    margin: auto;
    font-size: small;
}

a:hover img {
    opacity: 0.4;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

a:hover .portfolio-description {
    opacity: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}