<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active ms-2 me-2" href="#home">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link ms-2 me-2" href="#about">À PROPOS</a>
            <a class="nav-item nav-link ms-2 me-2" href="#skills">COMPETENCES</a>
            <a class="nav-item nav-link ms-2 me-2" href="#timeline">FORMATION</a>
            <a class="nav-item nav-link ms-2 me-2" href="#experience">EXPERIENCES</a>
            <a class="nav-item nav-link ms-2 me-2" href="#portfolio">PORTFOLIO</a>
            <a class="nav-item nav-link ms-2 me-2" href="#contact">CONTACT</a>
        </div>
    </div>
    <a class="text-center" id="download" href="/pictures/William Kowalinski.pdf"
        onclick="window.open(this.href);return false;">Téléchargez mon<br> CV en PDF</a>
</nav>