.timeline {
    width: 50%;
    clear: both;
    position: relative;
}

.timeline:before,
.timeline:after {
    content: "";
    display: block;
    clear: both;
}

.timeline-icon {
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}

.timeline-icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

.timeline:hover .timeline-icon:before {
    background: #39b3ff;
}

.timeline-content {
    width: 85%;
    padding: 18px 30px;
    background: #fff;
    text-align: right;
    // float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

.timeline:hover .timeline-content {
    border: 1px solid #cfcdcd;
}

.timeline-content:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}

.timeline:hover .timeline-content:before {
    background: #39b3ff;
    border-color: #39b3ff;
}

.date {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #39b3ff;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}

.timeline:hover .date {
    color: #444;
}

.title {
    font-size: 18px;
    color: #444;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

.timeline:hover .title {
    color: #39b3ff;
}

.description {
    font-size: 14px;
    color: #777;
    line-height: 28px;
    margin-top: 8px;
}


// @media only screen and (max-width: 767px) {
//     .main-timeline {
//         padding-left: 20px;
//     }

//     .main-timeline:before {
//         left: 20px;
//     }

//     .main-timeline .timeline {
//         width: 100%;
//     }

//     .main-timeline .timeline,
//     .main-timeline .timeline-content {
//         float: right;
//         text-align: left;
//     }

//     .main-timeline .timeline:first-child:before,
//     .main-timeline .timeline:last-child:nth-child(odd):before {
//         right: auto;
//         left: -11px;
//     }

//     .main-timeline .timeline-icon {
//         right: 0;
//         left: -12px;
//     }

//     .main-timeline .timeline-content:before {
//         left: -7.3px;
//     }

//     .main-timeline .timeline-content:after {
//         left: -14%;
//     }
// }